*{
    margin: 0px;
    padding: 0px;
    border: none;
}
body{
    margin-left: 5% ;
    margin-right: 5% ;
    background-color: rgb(216, 194, 194);
}
h1, h3, p, img{
    margin-top: 10px;
    margin-bottom: 10px;
} 

img {
    width: 100%;    
}