$component-name: "c-circular-progress";

.#{$componet-name} {
        @for $i from 0 through 100 {
        $deg: 90deg + (3.6 * $i);
        } 
    display: block;
    height:  250px;
    width:   250px;
}


.teste{
background: linear-gradient(transparent  50%, red 50%),
linear-gradient(to left, red 50%, blue 50%);
}
